.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.imgContainer {
  position: relative;
  height: 400px;
}

.img {
  object-fit: cover;
}

.info {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.left {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
  padding: 50px;
}
.right {
  flex: 1;
}
@media only screen and (max-width: 883px) {
  .info {
    flex-direction: column;
  }
  .left {
    width: 90vw;
  }
}
