.container {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
}

.text {
  flex: 1;
  margin: 0 auto;
}
.title {
  font-size: 40px;
}
.description {
  margin-top: 20px;
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
}

.imagediv {
  flex: 1;
  margin: 0 auto;
}

.imageContainer {
  position: relative;
  width: 400px;
  height: 300px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #aaa;
}
.secondContainer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  padding: 10px 30px;
  gap: 30px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 10px;
}

.image2 {
  object-fit: contain;
}
.description2 {
  flex: 1;
  margin-top: 20px;
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.title2 {
  margin-top: 50px;
  text-align: center;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subTitle {
  margin: 20px 0;
  font-size: 20px;
}

/* ---------- */
@media only screen and (max-width: 883px) {
  .container {
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
  }
  .title {
    font-size: 26px;
  }

  .text {
    text-align: center;
  }
  .description {
    text-align: center;
  }
  .secondContainer {
    flex-direction: column;
    gap: 0px;
  }
}
